/* -----------------------------------------------
   General
   ----------------------------------------------- */

body {
  font-family: 'Montserrat', sans-serif;
  background-color: antiquewhite;
  font-stretch: expanded;
  letter-spacing: 0.1pt;
}

p,h1,h2,h3,ul,ol{
    font-weight: 400;
    line-height: 1.3;
    font-size: 10pt;
    clear: right;
    letter-spacing: 0.05em;
}

p {
   /*text-indent: 15px;*/
   margin-top: 0;
}

a {
  font-size: 8pt;
  text-decoration: none;
}

em {
  font-style: normal;
}

#siteHeader{
  background: antiquewhite;
  width: 100%;
  display: inline-block;
}

#siteHeader h1,
#siteHeader p{
  /*text-align: center;*/
  color: black;
  padding-left: 120px;
  width: 50%;
  font-weight: 500;
}

/* -----------------------------------------------
   Posts
   ----------------------------------------------- */

#posts{
    float: left;
}

#posts .post{
    max-width: 100%;
    width: calc(60% - 172px);
    padding: 50px;
    margin: 50px 50px 50px 70px;
    background: white;
    height: 350px;
    overflow: hidden;
}

#posts .post:before {
position: absolute;
    top: 0;
    left: 0;
    content: '';
    right: 0;
    bottom: 0;
    box-shadow: 0 -300px 200px -200px antiquewhite inset;
}

#posts input{
    float: left;
    position: absolute;
    top: 0;
    left: 0;
}

input[type="checkbox"] {
 -webkit-appearance:none;/* Hides the default checkbox style */
 height:30px;
 margin: 20px;
 width:30px;
 cursor:pointer;
 position:relative;
 -webkit-transition: .15s;
 transition: .15s;
 border-radius:100%;
 background-color:transparent;
 color: black;
 box-shadow: 0px 0px 0 2px inset;
 font-size: 20px;
}

input[type="checkbox"]:checked {
 background-color:black;
}

input[type="checkbox"]:before, input[type="checkbox"]:checked:before {
 position:absolute;
 top:0;
 left:0;
 width:100%;
 height:100%;
 line-height:30px;
 text-align:center;
 color: black;
 content: '✔';
}

input[type="checkbox"]:checked:before {
 content: '✘';
 color: white;
}

input[type="checkbox"]:hover:before {
 background:rgba(255,255,255,0.3);
}

#printA5 {
  height: 20px;
  width: 20px;
  font-size: 13px;
  margin: initial; padding: initial;
  margin-right: 5px;
}

#printA5:before,
#printA5:checked:before {
   line-height:20px;
}

/* -------------
   Images
   ------------- */

img,
.post img{
    display: block;
    height: auto;
    max-width: 50%;
    padding: 10px 0;
  }

.aligncenter {
  margin-left: auto;
  margin-right: auto;
}

.alignleft {
  margin: 0;
  /*margin-left: -25%;*/
}

.alignright {
  float: right;
  margin: 0 0 10px 25px !important;
}

figure,
.wp-caption {
  max-width: 50%;
  display: block;
  padding: 10px 0;
  /*margin: 0;*/
}

.wp-caption img,
figure img {
  max-width: 100% !important;
}

figcaption,
.wp-caption-text {
  font-size: 8pt;
  /*letter-spacing: 0.02em;*/
  /*font-weight: 500;*/
  line-height: 1.25;
  padding: 0;
  margin: 0;
  /*padding: 5px;*/
}

/* -------------
   Typography
   ------------- */

blockquote,
blockquote p {
    line-height: 1.8;
    font-size: 10pt;
    margin-left: 10px;
    margin-right: 10px;
}

.postHeader{
  width: initial !important;
  /*padding-bottom: 0.5cm;*/
  margin-left: 0;
  /*font-size: 8.5pt;*/
  /*border: 5px outset #b3b3b3 !important;*/
  /*text-align: center;*/
  /*padding: 20px !important;*/
}

.post h1,
.post h2,
.post h3,
.post h4,
.post h5,
.post h6 {
  /*clear: both;*/
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  font-size: 10pt;
  /*margin-left: 0.5cm;*/
}

.post h1{
  /*padding-top: 0.5cm;*/
  /*border: 2px inset #b3b3b3;*/
}

.post h2 {
  /*border: 2px ridge #b3b3b3;*/
}

.post h3 {
  /*border: 1px solid black;*/
}

.post h4 {
  /*border: 1px dashed black;*/
}

.post h5 {
  text-transform: initial;
}

.post h6 {
  text-transform: initial;
}

.outerPost{
  position: relative;
}

li {
  margin-bottom: 10px;
  font-size: 7.5pt;
  line-height: 1.5;
}

/* -----------------------------------------------
   Selection
   ----------------------------------------------- */

#selection{
  margin-top: 50px;
  width: calc(40% - 50px);
  float: right;
  /*background-color: white;*/
  position: fixed;
  right: 0;
  opacity: 0;
   -moz-animation: fadein 0.6s ease-in 0.6s forwards; /* Firefox */
   -webkit-animation: fadein 0.6s ease-in 0.6s forwards; /* Safari and Chrome */
   -o-animation: fadein 0.6s ease-in 0.6s forwards; /* Opera */
   animation: fadein 0.6s ease-in 0.6s forwards;
}

#selection .post{
    font-size: 10px;
    width: calc(600px - 25%);
    position: absolute;
    transform-origin: 0 0;
    transform: scale(0.40, 0.40);
    -ms-transform: scale(0.40, 0.40);
    -webkit-transform: scale(0.40, 0.40);
    background-color: white;
    /*padding: 20px;*/
    max-height: 100vh;
    overflow: hidden;
    border: 1px solid black;
    animation: opacityAnimate 0.3s;

    padding-left: 25% !important;
    padding: 0;
}

#selection input{
    display: none;
}

/* begin fadein animation */
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

/* opacity animation */
@keyframes opacityAnimate {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

/* -----------------------------------------------
   Print A4
   ----------------------------------------------- */
@page {
  size: A4;
  margin: 1cm;
}

@media print{

  .post h1,
  .post h2,
  .post h3,
  .post h4,
  .post h5,
  .post h6 {
    margin-left: 20px;
    margin-bottom: 0;
  }


  .postHeader{
    padding-bottom: 0.5cm !important;
    text-align: center;
  }

  .postHeader {
      -webkit-column-span: all; /* Chrome, Safari, Opera */
    column-span: all;
  }

   a[href]:after {
    content: none !important;
  }

  #siteHeader{
    display: none;
  }

  #posts {display: none;}

  #selection{
      margin-top: 0px;
      width: 100%;
      float: initial;
      position: initial;
      opacity:  1 !important;
  }

  #selection .post{
    page-break-after:always;
    position: relative !important;
    margin: 0 !important;
    position: initial;
    transform: none;
    border:0 !important;
    max-height:99999999999999999px !important;
    overflow:visible !important;
    width: 100%;
    padding: 0 !important;

    -webkit-column-count: 2; 
    -moz-column-count: 2; 
    column-count: 2;

    -webkit-column-gap: 30px; 
    -moz-column-gap: 30px; 
    column-gap: 30px;
  }

  hr{
    display: none;
  }

  .post .noBreak{
    page-break-inside: avoid;
  }

  #selection .post:nth-of-type(1){
      margin-top: initial;
      margin-left: initial;
  }

  #selection .post:nth-of-type(2){
      margin-top: initial;
      margin-left: initial;
  }

  img {
    -webkit-filter: grayscale(1);
    -webkit-filter: grayscale(100%);
    filter: gray;
    filter: grayscale(100%);
  }
}
