#leftContent
  #printpreview

    .section-introduction-wrapper
      page-break-after: always !important


    .section-introduction
      page-break-after: always !important
      page-break-before: always !important
      padding-right: 3cm
      p
        font-size: 12pt
      h1
        font-size: 22pt
        float: left !important
        width: initial !important
        margin: 13px 30px 20px 0

    .section-default
      -webkit-column-count: 2
      -moz-column-count: 2
      column-count: 2
      -webkit-column-gap: 20px
      -moz-column-gap: 20px
      column-gap: 20px
      -moz-column-fill: auto
      column-fill: auto

    .section-default-wrapper-outer
      -webkit-column-count: 2
      -moz-column-count: 2
      column-count: 2
      -webkit-column-gap: 20px
      -moz-column-gap: 20px
      column-gap: 20px
      -moz-column-fill: auto
      column-fill: auto

      .section-default
        -webkit-column-count: auto
        -moz-column-count: auto
        column-count: auto
