#leftContent
  #readpreview
    .tablePost
      padding: 40px 25% 40px 40px
      .content
        p
          font-size: 12pt
          line-height: 1.5
        img, .wp-caption
          max-width: 40%
        .footnotes ol li, .footnotes ul li, .endnotes ol li, .endnotes ul li
          font-size: 9pt
    .section-preface, .section-introduction
      padding-right: initial