// styles specific to the read preview

#leftContent
  #readpreview
    .tablePost
      min-height: calc(100vh - 22px + #{$paddingMain})
      padding: $paddingMain*2 25% $paddingMain*2 $paddingMain*2
      .content
        p, ul, ol
          font-size: 12pt
          line-height: 1.5
        img
          width: 60%
        .wp-caption
          width: 60% !important
        .wp-caption img
          width: 100%
        .footnotes ol li, .footnotes ul li, .endnotes ol li, .endnotes ul li, .wp-caption-text
          font-size: 9pt
    .section-preface, .section-introduction
      padding-right: initial  

    .section-default, .section-response
      h2
        font-size: 18pt
      h3
        font-size: 16pt
      h4
        font-weight: 400
        font-size: 14pt
        margin-top: -$paddingMain/1.5

