body
  font-family: 'TeXGyreAdventor', sans-serif
  font-stretch: expanded
  letter-spacing: 0.1pt

p
  letter-spacing: 0.05em
  line-height: 1.3

h1, h2, h3, h4
  line-height: 1.1

h1
  font-size: 22pt

h2
  font-size: 15pt
  margin: 1cm 0 5px 0

h3 
  font-size: 11pt
  margin: 0 0 5px 0

p
  font-size: $defaultFontSizeParagraph
  -webkit-hyphens: auto
  -moz-hyphens: auto
  -ms-hyphens: auto
  hyphens: auto

a
  text-decoration: none
  color: black
  font-size: 9pt
  border-bottom: 1px solid black

@media print
