// styles specific to the print preview

#leftContent
  #printpreview
    // typography
    p, ul, ol, h1, h2, h3, h4, h5, h6
      color: initial
    a, u
      color: initial
      border-bottom: 1px solid $tablePrimaryColor
    .sort-title,.sort-date,.sort-publication
      display: none
    h1
      font-size: 21pt

    // reset background colors
    .section-autonomous-part, 
    .section-autonomous-part .tablePostContent,
    .section-commer-part,
    .section-commercial-part .tablePostContent,
    .section-social-part,
    .section-social-part .tablePostContent
      background: #fff

    padding: $paddingMain*2 20% $paddingMain*2 $paddingMain*2