$secondaryColor: rgb(236, 246, 236)

$tablePrimaryColor: black
$tablePrimaryColorDark: #3c3c3c

$tableSecondaryColor: whitesmoke
$tableSecondaryColorDark: red

$tableTertiaryColor: white
$tableTertiaryColorDark: lavender

$selectedColor: #ceceff
$selectedNotColor: lightgray

$paddingMain: 18px
$defaultFontSizeParagraph: 10.5pt
$defaultFontSizeParagraphInterface: 11pt
$defaultFontSizeSmall: 8.5pt
$defaultLineHeight: 1.3

$sectionPrefaceColor: blue