$secondaryColor: rgb(236, 246, 236)

$tablePrimaryColor: Bisque
$tablePrimaryColorDark: rgb(255, 143, 114)

$tableSecondaryColor: pink
$tableSecondaryColorDark: red

$tableTertiaryColor: rgb(236, 246, 236)
$tableTertiaryColorDark: rgb(191, 238, 191)

$selectedColor: rgb(134, 182, 134)
$selectedNotColor: rgb(255, 143, 114)

$paddingMain: 18px
$defaultFontSizeParagraph: 10.5pt
$defaultFontSizeParagraphInterface: 11pt
