@media print



  #leftContent #printpreview>*
    // margin-top: 0 !important
    font-size: 20pt !important

  #rightContent
    display: none

  #tableWrapper
    display: none !important

  #readpreview
    display: none !important

  #readpreview, #printpreview
    .tablePost
      padding: 0
    margin-top: 0 !important

  #printpreview
    position: relative !important
    display: block !important
    width: 100% !important
    .tablePostMeta
      display: none

  a[href]:after
    content: none !important

  #leftContent #printpreview>*
    // margin-top: 0 !important

  // h1
  //   margin-top: 0px !important

  #leftContent #printpreview
    // margin-top: -1cm

  .footnotes ol a, .endnotes ol a
    display: none

  .section-introduction-wrapper
    margin-top: -1cm !important

  .section-response-wrapper
    margin-top: -1cm !important

  .section-preface
    p, ul, ol, h1, h2, h3, h4, h5, h6
      color: black !important
    a, u
      border-bottom: 1px solid black !important
      color: black !important

  @page
    size: A4
    margin: 1cm
    // margin-top: 3.5cm