#splash
  #splashLeftContent
    width: 80%
    float: left
    padding: $paddingMain / 2

    #splashHeader
      position: fixed
      width: 80%
      background: $tablePrimaryColor
      left: 0
      top: 0
      height: calc(22px + #{$paddingMain})

    #splashIntro
      margin-top: calc(22px + #{$paddingMain})

      .splashColRight,
      .splashColLeft
        &.clearRight
          margin-right: 50%

        &.clearLeft
          margin-left: 50%

        width: 50%
        float: left
        padding: calc(22px + #{$paddingMain})
        padding-top: 22px

      p
        font-size: $defaultFontSizeParagraphInterface !important

      h1
        font-size: 5vw
        color: $sectionPrefaceColor

        br
          display: block

  #splashRightContent
    #splashTopContent
      cursor: pointer

      &:hover
        background: $selectedNotColor

        a
          color: $tableTertiaryColor
          border-bottom: 1px solid $tableTertiaryColor

    #splashRightContentLogos
      position: absolute
      bottom: 0
      padding: $paddingMain / 2

      img
        &:first-of-type
          margin-right: $paddingMain / 2

        width: calc(50% - (#{$paddingMain}/4))
        float: left

#loadContent
  position: fixed
  width: 100%
  height: 100%
  background: $tablePrimaryColor
  text-align: right
  z-index: 999999
  color: $tableTertiaryColor
