#splash
  #splashLeftContent
    width: 80%
    float: left
    padding: $paddingMain / 2

    #splashHeader
      position: fixed
      width: 80%
      background: $tablePrimaryColor
      left: 0
      top: 0
      display: flex
      align-items: center
      justify-content: flex-end
      height: calc(22px + #{$paddingMain})
      div
        width: 25%
        p
          color: white
          margin-left: $paddingMain/2
          margin-right: $paddingMain/2
          display: inline
          cursor: pointer
          &:hover
            border-bottom: 1px solid white

        a
          color: white
          font-size: inherit
          border: 0

    #splashIntro
      margin-top: calc(22px + #{$paddingMain})

      .fixedTitle
        position: fixed
        width: 80%
        z-index: -1
        top: calc(22px + #{$paddingMain} + #{$paddingMain})

        // margin-top: -500px


      .afterFixedTitle
        // margin-top: 500px
        display: inline-block
        background: rgba(255,255,255,0.925)
        -webkit-box-shadow: 0px -26px 54px 14px rgba(255,255,255,0.925)
        -moz-box-shadow: 0px -26px 54px 14px rgba(255,255,255,0.925)
        box-shadow: 0px -26px 54px 14px rgba(255,255,255,0.925)


      .splashColRight,
      .splashColLeft
        &.clearRight
          margin-right: 50%

        &.clearLeft
          margin-left: 50%

        width: 50%
        float: left
        padding: calc(22px + #{$paddingMain})
        padding-top: 22px

      p
        font-size: 1.2vw
        // font-weight: bold

      h1
        font-size: 5.2vw
        color: $sectionPrefaceColor
        line-height: 1

        br
          display: block

      .splashColRight
        p:first-child
          font-size: 1.2vw
        p, h2
          font-size: 0.9vw
          font-weight: 400

  #splashRightContent
    background: white

    #splashRightContentDesc
      margin-top: calc(22px + #{$paddingMain})
      p
        // color: blue
        padding: $paddingMain / 2
        font-weight: bolder
        &:first-of-type
          margin-top: 0


    #splashTopContent
      cursor: pointer
      position: absolute
      z-index: 1 !important

      a
        -webkit-animation: fadeinout 1.4s
        animation: fadeinout 1.4s
        opacity: 1
        // font-weight: bolder
        border-bottom: 0px solid $tableTertiaryColor
        -webkit-animation-iteration-count: 10
        animation-iteration-count: 10




      @-webkit-keyframes fadeinout
        50%
          opacity: 0


      @keyframes fadeinout
        50%
          opacity: 0


      &:hover
        background: $selectedNotColor

        a
          color: $tableTertiaryColor
          border-bottom: 0px solid $tableTertiaryColor
          opacity: 0



    #splashRightContentLogos
      position: absolute
      bottom: 0
      padding: $paddingMain / 2

      img
        padding: $paddingMain / 2
        &:first-of-type
          margin-right: $paddingMain / 2

        width: calc(50% - (#{$paddingMain}/4))
        float: left

#loadContent
  position: fixed
  width: 100%
  height: 100%
  background: $tablePrimaryColor
  text-align: right
  z-index: 999999
  color: $tableTertiaryColor
