
.rightContent
  width: 20%
  right: 0
  position: fixed
  height: 100%

  .topContent
    background: $selectedColor
    width: 100%
    text-align: center
    transition: background 0.15s
    a
      transition: border-color 0.15s, color 0.15s
      line-height: calc(22px + #{$paddingMain})
      font-size: $defaultFontSizeParagraphInterface
      text-decoration: none
      color: white
      border-bottom: 1px solid white
    span
      transition: border-color 0.15s, color 0.15s
      line-height: calc(22px + #{$paddingMain})
      font-size: $defaultFontSizeParagraphInterface
      text-decoration: none
      color: white
    &:hover
      background: $tableTertiaryColorDark
      a
        color: black
        border-color: black

      span
        color: black
        border-color: black





#rightContent
  background: $tablePrimaryColor
  width: 20%
  position: fixed
  right: 0
  height: 100%
  font-size: $defaultFontSizeParagraphInterface
  .disable
    opacity: 0.3
    pointer-events: none

  #topContent
    .search
      border: 0
      padding: 0
      margin: 0
      width: calc(100% - (22px + #{$paddingMain}))
      height: calc(22px + #{$paddingMain})
      line-height: calc(22px + #{$paddingMain})
      padding: $paddingMain/2
      background: $tableTertiaryColor
      color: black

    input::-webkit-input-placeholder
      color: black !important

    input:-moz-placeholder
      color: black !important

    input::-moz-placeholder
      color: black !important

    input:-ms-input-placeholder
      color: black !important

    #toSplash
      width: calc(22px + #{$paddingMain})
      height: calc(22px + #{$paddingMain})
      line-height: calc(22px + #{$paddingMain})
      text-align: center
      float: right
      color: white
      background: $selectedColor
      cursor: pointer
      transition: border-color 0.15s, color 0.15s
      &:hover
        background: $tableTertiaryColorDark
        a
          color: black
          border-color: black

        span
          color: black
          border-color: black


  #basket
    .basketItem
      padding: $paddingMain/2
      width: 100%
      clear: both
      display: inline-block
      vertical-align: top
      opacity: 1
      transition: opacity 0.2s
      border-bottom: 1px solid $tableTertiaryColor
      &.glimpse
        opacity: 0
      p
        max-width: calc(100% - (22px + #{$paddingMain}))
        font-size: $defaultFontSizeParagraphInterface
        margin: 0
        float: left
        &:before
          content: "- "
      span
        color: $tablePrimaryColorDark
        cursor: pointer
        float: right
        line-height: 20px
        padding-left: $paddingMain/2
        padding-right: 2px
        margin-right: -2px
    &:empty
      // height: 100px
      padding: $paddingMain/2
      &:after
        color: $tablePrimaryColorDark
        content: 'Make a print selection to the left'


  #basketCounter
    background: $tablePrimaryColorDark
    padding: $paddingMain/2
    &:after
      color: white
      content: "Print Selection"

  #showPrint
    background: $tablePrimaryColorDark
    padding: $paddingMain/2
    cursor: pointer

    &:after
      color: white
      content: "Print Preview"
    &.makeSelection
      &:after
        color: white
        content: "Please make a selection"

  #emptyBasket
    float: right
    color: white
    line-height: calc(22px)
    cursor: pointer




#tableWrapper
  width: 80%
  float: left

  .sortingOptions
    top: 0
    line-height: 0
    position: fixed
    z-index: 1
    width: 80%
    height: calc(22px + #{$paddingMain})
    border-bottom: 2px solid $secondaryColor
    .sort
      padding: $paddingMain/2
      background: $tablePrimaryColor
      &.asc
        &:after
          color: $tablePrimaryColorDark
          font-family: FontAwesome
          content: "\f15d"
      &.desc
        &:after
          color: $tablePrimaryColorDark
          font-family: FontAwesome
          content: "\f15e"

      &[data-sort=sort-date]
        &.asc
          &:after
            content: "\f162"
        &.desc
          &:after
            content: "\f163"

      &[data-sort=sort-selected]
        &.asc
          &:after
            content: "✔"
        &.desc
          &:after
            content: "✘"


    .sort:not(:last-child)
      border-right: 2px solid $secondaryColor


    button
      width: 25%
      float: left
      height: 100%
      padding: 0
      margin: 0
      border: 0
      text-align: left



.tablePost
  .tablePostContent
    padding: $paddingMain/2
    background: $tableTertiaryColor
    float: left
    width: 100%
    display: inline-block
    position: relative
    h1
      width: 75%
    .sort-excerpt
      width: 75%
    .tablePostReadMode
      background: $tableTertiaryColorDark
      width: 25%
      cursor: pointer

      // float: right
      position: absolute
      right: 0
      top: 0
      height: 100%
      div
        text-align: center
        position: absolute
        top: 50%
        left: 0%
        width: 100%
        transform: translate(0%, -50%)

  .tablePostMeta
    float: left
    height: calc(22px + #{$paddingMain})
    line-height: calc(22px + #{$paddingMain})
    width: 100%
    display: inline-block
    background: $tablePrimaryColor
    .tablePostMetaItem
      width: 25%
      float: left
      height: 100%
      &:not(:last-child)
        border-right: 2px solid $secondaryColor
      p
        display: inline-block
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
        width: 100%
        padding: 0 $paddingMain/2

      &.back
        cursor: pointer
        background: $tablePrimaryColorDark

      &.postSelect
        background: $selectedNotColor
        text-align: center
        transition: background 0.1s
        cursor: pointer
        p
          display: none
        &:hover
          &:after
            content: "Click to select" !important
        &:after
          color: white
          content: "✘"

        &.selected
          background: $selectedColor
          &:hover
            &:after
              content: "Click to deselect" !important
          &:after
            color: white
            content: "✔"
    p
      margin: 0px

#table
  padding: 0px
  margin-top: calc(22px + #{$paddingMain})

.tablePost
  list-style: none
  margin: 0
  text-indent: 0
  .content
    display: none
